:root {
  --background: #FAFAFA;
  --text: #111111;
  --primary: #732DA9;
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-badge: #333;
}

[data-theme="dark"] {
  --background: #FAFAFA;
  --text: #111111;
  --primary: #732DA9;
  --shadow: rgba(0, 0, 0, 0.3);
  --bg-badge: #333;
}