
@font-face {
  font-family: "Source Code Pro";
  src: url("../public/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro Italic";
  src: url("../public/fonts/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Italic";
  src: url("../public/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "SF Mono";
  src: url("../public/fonts/SFMonoRegular.otf") format("truetype");
}