.menu {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 2px 2px var(--shadow);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--background);
    backdrop-filter: blur(10px);
    color: var(--text);
    animation: slideInMenu 0.5s ease-in-out;

  span {
    color: var(--primary);
  }
}

.burger {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  div:nth-child(1) {
    height: 3px;
    width: 50%;
    background-color: var(--text);
    border-radius: 4px;
  }
  div:nth-child(2) {
    height: 3px;
    width: 75%;
    background-color: var(--text);
    border-radius: 4px;
  }
  div:nth-child(3) {
    height: 3px;
    width: 100%;
    background-color: var(--text);
    border-radius: 4px;
  }
}
.burger-close {
  div:nth-child(1) {
    height: 3px;
    width: 70%;
    background-color: var(--text);
    border-radius: 4px;
    transform: translateY(10px) rotate(45deg);
  }
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(3) {
    height: 3px;
    width: 70%;
    background-color: var(--text);
    border-radius: 4px;
    transform: translateY(-7px) rotate(-45deg);
  }
}
.burger div, .burger-close div {
  transition: .3s ease-in-out;
}

@media screen and (max-width: 500px){
  .burger {
    display: flex;
  }
  .menu {
    display: flex;
  }
}

@keyframes slideInMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}