#projects {

  .container {
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-project {
    margin-top: 7rem;
  }

  img {
    width: 40%;
    height: auto;
    border-radius: 10px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    box-shadow: 0 0 2px 2px var(--shadow);
    border-radius: 8px;
    padding: 1rem;
    margin-left: -4rem;
    background-color: var(--background);
  }
  .badges {
    display: flex;
    gap: 1rem;

  }
}

@media screen and (max-width: 1000px) {
    #projects {

      .container {
        flex-direction: column;
      }
      .description {
        margin-left: 0;
        margin-top: -4rem;
      }

      img {
        width: 80%;
      }
    }
}